.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-bottom: 1px solid lightblue;
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    top: 3.5rem;
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}

.footer__item {
    margin: 0 1rem;
}

#showOnlyFavorites {
    height: 1.2rem;
    cursor: pointer;
}
