.directMessage {
    padding: 0.75rem 2rem 2rem 2rem;
    margin: 5rem 25% 0 25%;
    background-color: aliceblue;
}

.message__input {
    width: 100%;
    margin: 0.5rem 0;
}

.select--friends {
    width: initial;
    margin: 0.5rem;
    font-size: large;
}

.message__section {
    font-size: large;
    margin: 0.75rem;
    width: max-content;
}